.category-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 44px;
  color: #161d25;
  letter-spacing: 0.2px;
  margin-top: 30px; 
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 0 20px;
}
.product-container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 260px;
  margin: 30px; /* Thêm khoảng cách giữa các sản phẩm */
  transition: transform 0.3s ease;
}


.product-image {
  width: 100%;
  height: 260px; 
  object-fit: cover;
  border-bottom: 1px solid #e1e1e1;
}

.product-name{
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}
.product-price{
  font-size: 14px;
  font-weight: 600;
  color: red;
  text-align: left;
  padding-left: 10px;
}

.add-to-cart-btn {
  margin-top: 12px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color:#B6E8A6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-container:hover {
  transform: translateY(-5px);
}
/* Container styling */
.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  max-width: 600px;
  margin: 20px 0 20px 20px; /* Remove auto centering and push the container towards the left */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image styling */
.product-details-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Text styling */
.product-details-container .product-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: left; /* Align text to the left */
}

.product-details-container .product-price {
  font-size: 20px;
  font-weight: 600;
  color: red;
  margin-bottom: 15px;
  text-align: left; /* Align text to the left */
}

.product-details-container .product-description {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  text-align: left; /* Align text to the left */
}